@font-face {
    font-family: 'GeistVF';
    src: url('/fonts/GeistVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMonoVF';
    src: url('/fonts/GeistMonoVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;