@font-face {
    font-family: 'GeistVF';
    src: url('/fonts/GeistVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMonoVF';
    src: url('/fonts/GeistMonoVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;